{% extends 'layout.njk' %}

{% set title = 'Terms of Service' %}

{% block content %}
  <div class="space-y-10">
    <h1 class="text-xl sm:text-2xl font-semibold text-center mb-10">
      Terms of Service
    </h1>
    <div class="space-y-5">
      <h2 class="text-lg sm:text-xl font-semibold">1. Terms</h2>
      <p>
        By accessing the website at https://www.piratepx.com, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.
      </p>
    </div>
    <div class="space-y-5">
      <h2 class="text-lg sm:text-xl font-semibold">2. Use License</h2>
      <ol class="ml-10 space-y-5" style="list-style-type: lower-alpha;">
        <li class="space-y-5">
          <p>
            Permission is granted to temporarily download one copy of the materials (information or software) on piratepx’s website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
          </p>
          <ol class="ml-10 space-y-3" style="list-style-type: lower-roman;">
            <li>modify or copy the materials;</li>
            <li>
              use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
            </li>
            <li>
              attempt to decompile or reverse engineer any software contained on piratepx’s website;
            </li>
            <li>
              remove any copyright or other proprietary notations from the materials; or
            </li>
            <li>
              transfer the materials to another person or “mirror” the materials on any other server.
            </li>
          </ol>
        </li>
        <li>
          <p>
            This license shall automatically terminate if you violate any of these restrictions and may be terminated by piratepx at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
          </p>
        </li>
      </ol>
    </div>
    <div class="space-y-5">
      <h2 class="text-lg sm:text-xl font-semibold">3. Disclaimer</h2>
      <ol class="ml-10 space-y-5" style="list-style-type: lower-alpha;">
        <li>
          <p>
            The materials on piratepx’s website are provided on an ‘as is’ basis. piratepx makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.
          </p>
        </li>
        <li>
          <p>
            Further, piratepx does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.
          </p>
        </li>
      </ol>
    </div>
    <div class="space-y-5">
      <h2 class="text-lg sm:text-xl font-semibold">4. Limitations</h2>
      <p>
        In no event shall piratepx or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on piratepx’s website, even if piratepx or a piratepx authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
      </p>
    </div>
    <div class="space-y-5">
      <h2 class="text-lg sm:text-xl font-semibold">5. Accuracy of Materials</h2>
      <p>
        The materials appearing on piratepx’s website could include technical, typographical, or photographic errors. piratepx does not warrant that any of the materials on its website are accurate, complete or current. piratepx may make changes to the materials contained on its website at any time without notice. However piratepx does not make any commitment to update the materials.
      </p>
    </div>
    <div class="space-y-5">
      <h2 class="text-lg sm:text-xl font-semibold">6. Links</h2>
      <p>
        piratepx has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by piratepx of the site. Use of any such linked website is at the user’s own risk.
      </p>
    </div>
    <div class="space-y-5">
      <h2 class="text-lg sm:text-xl font-semibold">7. Modifications</h2>
      <p>
        piratepx may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.
      </p>
    </div>
    <div class="space-y-5">
      <h2 class="text-lg sm:text-xl font-semibold">8. Governing Law</h2>
      <p>
        These terms and conditions are governed by and construed in accordance with the laws of Tennessee and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.
      </p>
    </div>
  </div>
{% endblock %}
